
html{
    width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(to right,#bd4444,#1C053A);
    font-family: 'Lato', sans-serif;
    font-size: 2rem;

}
#header{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
}

h1{      
    font-family: 'Lobster','cursive';
    font-size:65px;
}

.login-container{
    text-align: end;
    color: black;
}
li.nav-item{
    width:100%;
    padding: 10px 50px;
}
.btn.btn-primary.dropdown-toggle{
    background-color: rgb(58, 54, 54);
    border: rgb(58, 54, 54);
}
.dropdown-menu{
    background-color: rgb(231, 229, 229);
    opacity:0.9;
}
li a{
    display: block;
}
li a:hover{
    background-color:rgb(60, 21, 63);
}

li.nav-item{
    width:100%;
    padding: 10px 50px 10px 0px;
}
a.nav-link{
    margin:auto;
    /* border:2px solid;
    border-radius:8px; */
}
a.nav-link:hover{

    border-color:goldenrod;
}
.big-login{
    background-color:rgba(0, 185, 255,0.3);
}
.carousel-inner{
	width:100%;
	height:50%;
}
 .carousel-inner  img {
    width: 100%;
	height: 100%;
    margin:auto;
    padding:40px;
  }
.pre{
    margin-top:40px;
    text-align: center;
    font-family: 'Lobster','cursive';
    color: aliceblue;
}

  footer{
    font-family: 'Lobster','cursive';
  }
